@font-face {
	font-family: DancingScript;
	src: url(resources/fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
	font-family: PlaypenSans;
	src: url(resources/fonts/PlaypenSans-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--orange: orangered;
}

.page {
	height: 100vh;
	overflow: auto;
}

.photo-container {
	display: flex;
	flex-wrap: wrap;
}

.up {
	text-transform: uppercase
}

ul {
	display: flex;
	flex-wrap: wrap;
}

li {
	height: 40vh;
	flex-grow: 1;
	list-style: none;
	margin: 5px;
}

img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
}

.postcard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(255, 255, 210);
	width: 800px;
	height: 600px;
	margin: 0 auto;
	padding: 200px 25px 25px 25px;
	color: rgb(0, 0, 152);
	font-family: PlaypenSans, sans-serif;
	font-size: 20px;
}

@keyframes border-color {
	0% {
		border-color: var(--orange);
	}

	50% {
		border-color: rgb(24, 138, 214);
	}

	100% {
		border-color: var(--orange);
	}
}

.border {
	border-style: solid;
	border-width: 10px;
	animation: border-color 3s infinite;
}

#pointer {
	width: 250px;
	height: 40px;
	position: sticky;
	background: var(--orange);
	text-align: center;
	line-height: 40px;
	margin-top: -60px;
	margin-bottom: 20px;
}

#pointer>p {
	color: white;
	font-size: 28px;
}

#pointer:before {
	content: "";
	position: absolute;
	right: -20px;
	border-left: 20px solid var(--orange);
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}

.side {
	padding: 20px;
}

.underline {
	border-bottom: 2px solid rgb(68, 68, 68);
}

.orange-text {
	color: var(--orange);
}

.fancy-font {
	font-family: DancingScript, cursive;
}

.point-burst-12 {
	background: var(--orange);
	width: 80px;
	height: 80px;
	position: sticky;
	text-align: center;
	margin-top: 80px;
}

.point-burst-12:before,
.point-burst-12:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 80px;
	background: var(--orange);
}

.point-burst-12:before {
	transform: rotate(30deg);
}

.point-burst-12:after {
	transform: rotate(60deg);
}