@font-face {
	font-family: DancingScript;
	src: url(resources/fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
	font-family: PlaypenSans;
	src: url(resources/fonts/PlaypenSans-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--orange: rgb(231, 101, 69);
	--blue: #305491;
}

.page {
	height: 100vh;
	overflow: auto;
}

.photo-container {
	display: flex;
	flex-wrap: wrap;
}

.up {
	text-transform: uppercase
}

ul {
	display: flex;
	flex-wrap: wrap;
}

li {
	height: 40vh;
	flex-grow: 1;
	list-style: none;
	margin: 5px;
}

img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
}

.postcard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(255, 255, 210);
	width: 800px;
	height: 600px;
	margin: 0 auto;
	padding: 200px 25px 25px 25px;
	color: var(--blue);
	font-family: PlaypenSans, sans-serif;
	font-size: 25px;
	position: relative;
	top: calc( (100vh - 600px) / 2);
}

@keyframes border-color {
	0% {
		border-color: var(--orange);
	}

	50% {
		border-color: var(--blue);
	}

	100% {
		border-color: var(--orange);
	}
}

@keyframes background-color {
	0% {
		background-color: var(--orange);
	}

	50% {
		background-color: var(--blue);
	}

	100% {
		background-color: var(--orange);
	}
}

@keyframes border-left-color {
	0% {
		border-left-color: var(--orange);
	}

	50% {
		border-left-color: var(--blue);
	}

	100% {
		border-left-color: var(--orange);
	}
}

.border {
	border-style: solid;
	border-width: 10px;
	animation: border-color 3s infinite;
}

#pointer {
	width: 280px;
	height: 50px;
	position: absolute;
	background: var(--orange);
	margin-top: -60px;
	margin-bottom: 20px;
	left: 0px;
	color: white;
	font-size: 28px;
	text-align: center;
	line-height: 50px;
	animation: background-color 3s infinite;
}

#pointer:before {
	content: "";
	position: absolute;
	right: -20px;
	border-left: 20px solid var(--orange);
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	animation: border-left-color 3s infinite;
}

.side {
	padding: 20px;
}

.underline {
	border-bottom: 2px solid rgb(68, 68, 68);
}

.orange-text {
	color: var(--orange);
}

.fancy-font {
	font-family: DancingScript, cursive;
}

.vertical-line {
	width: 2px;
	height: 55%;
	background-color: rgb(85, 85, 85);
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translateX(-50%);
}

.stamp {
	position: absolute;
	object-fit: contain;
}