* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Tahoma, sans-serif;
	background-color: #FAF3E0;
	text-align: center;
	overflow-x: hidden;
}

#image {
	width: 60%;
	box-shadow: 4px 4px 7px 8px rgb(142, 130, 110);
	border-radius: 5px;
	margin: 20px auto;
}

img {
	margin: 0 auto;
	display: block;
}

section {
	margin-top: 60px;
	margin-bottom: 60px;
}

figcaption {
	font-size: 80%;
}

.left-aligned {
	text-align: left;
}

.bold {
	font-weight: bold;
}

.spaced-top {
	padding-top: 5%;
}

ol {
	list-style: none;
}

p:not(#description) {
	padding: 0 25%;
	margin-top: 5%;
	text-align: center;
}

*:not(a, figcaption) {
	color: rgb(42, 42, 42);
}

#description {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 60px;
	background-color: #ffd460;
	padding-top: 1px;
	padding-bottom: 2px;
}

.less-margin-top {
	margin-top: -20px;
}