:root {
	--height-of-navbar: 50px;
	--background-color: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

html {
	padding-top: var(--height-of-navbar);
	scroll-behavior: smooth;
}

body {
	background: var(--background-color);
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: var(--height-of-navbar);

	& ul {
		display: flex;
		justify-content: right;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	& img {
		height: 100%;
	}
	
	& ul li {
		list-style: none;
		margin: 0 30px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		border-radius: 2rem;
		padding: 5px 10px;
		transition-duration: 0.3s;
	}
	
	& ul li a {
		text-decoration: none;
		color: black;
	}
	
	& ul li:hover {
		background-color: rgb(144, 197, 255);
		box-shadow: 4px 3px 8px 0px rgb(144, 197, 255);
		border-radius: 0.2rem;
		cursor: pointer;
		transition-duration: 0.3s;
	}
	
	& ul li:hover a {
		color: rgb(247, 250, 151);
	}
}

section {
	margin-bottom: 15vh;
}

#promotion-section {
	margin-left: 15vw;
}

#promotion-section .section {
	display: flex;
	align-items: center;
	margin: 50px 7vw 50px 0;
}

#promotion-section .section img {
	margin-right: 30px;
}

#front-products-section {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 0.2fr);
}

#front-products-section h3 {
	margin: 40px 40px 0 40px;
}

#submit-section,
#video-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#submit {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	padding: 5px 30px;
	border-radius: 10px;
	border: 0px solid white;
	box-shadow: black 4px 4px 6px;
	max-width: 200px;
}

#video {
	width: 50vw;
	height: 50vh;
}

.center-text {
	text-align: center;
}

.icon {
	width: 50px;
	height: 50px;
}


#page-logo {
	margin-left: 20px;
	max-width: 100%;
}

h2,
h3 {
	white-space: nowrap;
}

.empty-space {
	height: 1rem;
}

.shoe-image {
	object-fit: cover;
	height: 150px;
	width: 150px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 350px;
	height: 300px;
	border: 5px solid rgba(100, 130, 160, 0.4);
	border-radius: 30px;
	padding: 20px;
	margin: 50px auto;
}

button {
	background-color: rgb(92, 74, 255);
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 auto;
	padding: 5px 10px;
}

input {
	padding: 10px 20px;
}

.price {
	margin: 10px 0;
	font-weight: bold;
}

@media screen and (max-width: 1100px) {
	#front-products-section {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 0.2fr);
	}
}

@media screen and (max-width: 750px) {
	:root {
		--width-of-navbar: 90px;
	}

	p {
		font-size: 0.75rem;
	}

	h2,
	h3 {
		font-size: 1.1rem;
	}

	#front-products-section {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 0.2fr);
	}

	html {
		margin-left: var(--width-of-navbar);
	}

	#navbar {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: var(--width-of-navbar);
		height: auto;
	
		& ul {
			flex-direction: column;
			width: 100%;
			height: auto;
		}
	
		& img {
			height: 100%;
		}
		
		& ul li {
			margin: 10px 8px;
			padding: 5px 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			border-radius: 1rem;
			transition-duration: 0.3s;
		}
		
		& ul li a {
			align-self: flex-start;
			text-decoration: none;
			color: black;
		}
		
		& ul li:hover {
			background-color: rgb(144, 197, 255);
			box-shadow: 4px 3px 8px 0px rgb(144, 197, 255);
			border-radius: 0.2rem;
			cursor: pointer;
			transition-duration: 0.3s;
		}
		
		& ul li:hover a {
			color: rgb(247, 250, 151);
		}
	}
}