:root {
	--height-of-navbar: 50px;
	--background-color: rgb(152, 234, 255);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

html {
	margin-top: var(--height-of-navbar);
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--background-color);
	z-index: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: var(--height-of-navbar);
}

#navbar ul {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
	height: 100%;
}

#navbar img {
	height: 100%;
}

#navbar ul li {
	list-style: none;
	margin: 0 30px;
	color: black;
}

section {
	margin-bottom: 15vh;
}

#promotion-section {
	margin-left: 15vw;
}

#promotion-section .section {
	display: flex;
	align-items: center;

	margin: 50px 0;
}

#promotion-section .section img {
	margin-right: 30px;
}

#more-details-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#last-section, #video-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#submit {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	padding: 5px 30px;
	border-radius: 10px;
	border: 0px solid white;
	box-shadow: black 4px 4px 6px;
	max-width: 200px;
}

#video {
	width: 50vw;
	height: 50vh;
}

.center-text {
	text-align: center;
}

.icon {
	width: 50px;
	height: 50px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 300px;
	height: 300px;
	border: 2px solid black;
	padding: 20px;
	margin: 50px 0;
}

#page-logo {
	margin-left: 20px;
}

h2, h3 {
	white-space: nowrap;
}

.empty-space {
	height: 1rem;
}

.shoe-image {
	object-fit: cover;
	height: 150px;
	width: 150px;
}

button {
	background-color: rgb(92, 74, 255);
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
	padding: 10px 20px;
}