:root {
	--padding-left: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

html {
	margin-left: 280px;
	background-color: rgb(27, 27, 39);
	box-sizing: border-box;
}

body {
	font-family: monospace, Tahoma, sans-serif;
	background-color: rgb(27, 27, 39);
	color: rgb(200, 200, 200);
}

#navbar {
	position: fixed;
	left: 0;
	top: 0;
	max-width: 250px;
	height: 100%;
	background-color: #181623;
	border: #3d3b44 1px solid;
	color: #fff;
	overflow-y: auto;
}

#navbar ul {
	list-style: none;
	padding: 0;
}

nav>ul>li:hover {
	background-color: #201e22;
}

#navbar li {
	padding: 15px;
}

#navbar a {
	text-decoration: none;
	color: #fff;
	display: block;
}

#header {
    background-color: #181623;
	border-radius: 10px;
	margin-left: -30px;
}

#header img {
    width: 400px;
}

.section-description {
	margin-top: -1rem;
	font-style: italic;
	font-size: 0.9rem;
}

.indented1 {
	padding-left: (--padding-left);
}

.indented3 {
	padding-left: calc(3 * var(--padding-left));
}

.indented6 {
	padding-left: calc(6 * var(--padding-left));
}

.highlighted {
	background-color: rgb(45, 47, 58);
	border-radius: 5px;
	padding: 0 2px;
}

h1, h2, h3 {
	color: white;
	margin-left: -0.3rem;
	padding-bottom: 0.3rem;
	padding-top: 0.5rem;
}

h2::before{
	content: "";
    display: block;
    border-top: 1px solid #332f2f;
    padding-top: 20px;
}

a {
	color: rgb(225, 108, 24);
}

a:visited {
	color: rgb(225, 108, 24);
}

pre {
	background-color: rgb(34, 36, 46);
	display: inline-block;
	padding-right: 50px;
	border-radius: 8px;
}