@media (prefers-reduced-motion: no-preference) {
	* {
		scroll-behavior: smooth;
	}
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    overflow-y: auto;
}

#navbar ul {
    list-style: none;
    padding: 0;
}

#navbar li {
    padding: 15px;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    display: block;
}

html {
    margin-left: 250px;
    
}

body {
	font-family: Verdana, sans-serif;
}

.header-description {
	margin-top: -1rem;
	font-style: italic;
}

.indented {
	padding-left: 3rem;
}

.indented2 {
	padding-left: calc(3rem * 2);
}

.highlighted {
	background-color: rgb(208, 208, 208);
}