@import "~bootstrap/dist/css/bootstrap.min.css";

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #0c0078;
	color: #ffffff;
	padding: 5px;
	padding-left: calc(15%);
	font-size: 14px;
}