:root {
	--section-left-width: 200px;
	--section-right-width: 360px;
	--edge-spacing: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	font-family: sans-serif, Arial, Helvetica;
	margin-top: 2vh;
	margin-bottom: 2vh;
	height: 96vh;
	color: #3a3a3a;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header {
	font-size: 1.4rem;
	font-weight: bold;
	display: inline-block;
	color: rgb(74, 74, 74);
	position: relative;
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 10px;
	max-width: calc(var(--section-right-width) - var(--edge-spacing) * 2);
  	overflow-wrap: break-word;

	&:first-child {
		margin-top: 0;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		right: -8px;
		height: 1.5px;
		background-color: #adadad;
	}
}

ul {
	margin-left: 8px;
}

li {
	margin-bottom: 5px;
}

.name {
	margin-bottom: 8px;
	font-size: 1.3rem;
	font-weight: bold;
}

/* 
* LEFT SECTION
*/

.section-left {
	flex-basis: var(--section-left-width);
	background: #ebebeb;
}

.section-left * {
	margin-left: var(--edge-spacing);
}

.profile-image-photo {
	justify-content: center;
	display: block;
	object-fit: cover;
	width: calc(var(--section-left-width) * .7);
	height: calc(var(--section-left-width) * .7);
	border: 8px solid #dbdbdb;
	border-radius: 50%;
	margin: 20px auto;
	background-color: white;
}

.profile-details {
	list-style: none;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.profile-details-icon {
	width: 20px;
	height: 20px;
	margin: 3px 0;
}

.section-left ul li {
	margin-top: 5px;
}

.section-left .header {
	font-size: 1.1rem;
	max-width: calc(var(--section-left-width) - var(--edge-spacing) * 2);
}

/* 
* RIGHT SECTION
*/

.section-right {
	flex-basis: var(--section-right-width);
	background-color: rgb(187, 232, 234);
	padding: var(--edge-spacing);
}