:root {
	--section-left-width: 180px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	font-family: sans-serif, Arial, Helvetica;
	margin-top: 2vh;
	margin-bottom: 2vh;
	height: 96vh;
	color: #333;
}

.header {
	font-size: 1.4rem;
	font-weight: bold;
	display: inline-block;
	color: rgb(74, 74, 74);
	position: relative;
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		right: -8px;
		height: 1px;
		background-color: #adadad;
	}
}

ul {
	margin-left: 8px;
}

li {
	margin-bottom: 5px;
}

/* 
* LEFT SECTION
*/

.section-left {
	flex-basis: var(--section-left-width);
	background: #ebebeb;
}
.section-left *{
	margin-left: 15px;
}

.profile-image-photo {
	justify-content: center;
	display: block;
	object-fit: cover;
	width: calc(var(--section-left-width) * .7);
	height: calc(var(--section-left-width) * .7);
	border: 8px solid #dbdbdb;
	border-radius: 50%;
	margin: 20px auto;
	background-color: white;
}

.profile-details {
	list-style: none;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.profile-details-icon {
	width: 20px;
	height: 20px;
	margin: 3px 0;
}



.section-left ul li {
	margin-top: 5px;
}

/* 
* RIGHT SECTION
*/

.section-right {
	flex-basis: 340px;
	background-color: rgb(255, 255, 255);
	padding: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}