body {
	display: flex;
	height: 100vh;
	font-family: sans-serif, Arial, Helvetica;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.left-section {
	flex-basis: 33.33%;
	background: #f4f4f4;
}

.right-section {
	flex-basis: auto;
}